:host {
  --alias-main: 'SequelSansHeadline', sans-serif;
  --alias-alt: 'SharpGroteskBook20', sans-serif;
  --current-zoom: 1.0;
  --timeline-line-vw: 20vw;
  --timeline-line-height-mobile: 230px;
}

.error{
    margin-top: 300px;
    text-align: center;
    height: 100vh;
    .main-tip{
        margin: auto;
        p{
            margin: 30px;
            background: linear-gradient(to right, white, #88c9fa);
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
    }
}

.arrow{
  height: 200px;
}

.header {
  //background: linear-gradient(#000000, #03232d, #000000);
  color: #fff;
  padding: 10px;
  font-family: var(--alias-main);
  min-height: calc(100vh - 10px);
  display: flex;

  .self-description {
    margin: auto;
    text-align: center;
    animation: fade-in 2s;

    img {
      margin: 0px !important;
      padding: 0px !important;
      width: calc(400px * var(--current-zoom)) !important;
      height: calc(400px * var(--current-zoom)) !important;
      border-radius: calc(200px * var(--current-zoom));
      border: 1px solid #000000;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);

    }

    .name {
      margin-top: 10px;
      padding: 0px !important;
      margin-bottom: 0px;
      font-size: calc(8rem * var(--current-zoom));
      font-family: var(--alias-alt);
      font-weight: normal;
      background: linear-gradient(to right, white, white, white,#20b1dd,#20b1dd, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .job-title {
      font-size: calc(4rem * var(--current-zoom));;
      font-family: var(--alias-main);
      font-weight: normal;
      background: linear-gradient(to right, white, white, white, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.main-tip {
    p {
      margin: auto;
      margin: auto;
    }
  }

.project{
    margin-top: calc(250px * var(--current-zoom));
    align-items: center;
    .trademark{
        margin:auto;
        display:flex;
        width: fit-content;
        img{
            width: calc(80px * var(--current-zoom));;
            height: calc(80px * var(--current-zoom));
            border-radius: calc(10px * var(--current-zoom));
        }
        p.app-title{
            margin:auto;
            padding-left: 20px;
            font-size: calc(3rem * var(--current-zoom));
            font-family: var(--alias-main);
            font-weight: normal;
            max-width: calc(400px * var(--current-zoom));
        }
    }
    p.app-subtitle{
        padding-top: 40px;
        margin:auto;
        font-size: calc(3rem * var(--current-zoom));
        font-family: var(--alias-main);
        font-weight: normal;
        max-width: calc(1000px * var(--current-zoom));; //TODO: check
        min-height: calc(100px * var(--current-zoom));
        text-align: center;
    }
   

     .links{
        position:relative;
        z-index: 2;
        padding-top: calc(40px * var(--current-zoom));
        display: flex;
        justify-content: center;
        div{
            display: flex;
            margin: 10px;
            border-radius: calc(15px * var(--current-zoom));
            transition: transform 0.3s;
            a {
                margin: auto;
                padding: calc(15px * var(--current-zoom));
                text-decoration: none;
                font-size: calc(1.2rem * var(--current-zoom));
                font-family: var(--alias-main);
                font-weight: normal;
                color: inherit;
            }   
        }
        div:hover {
            transform: scale(1.1);
          }
     }

     .screenshots{
        position: relative;
        top: calc(-100px * var(--current-zoom));
        display: flex;
        justify-content: space-between;
        div{    
            img,video{
                max-height: calc(600px * var(--current-zoom));
                border-radius: calc(30px * var(--current-zoom));
                border: 1px solid #000000;
                box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
            }
        }
        div.web{
            img,video{
                max-width: calc(800px * var(--current-zoom));
                border-radius: calc(10px * var(--current-zoom));
                border: 1px solid #000000;
                box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
            }
        }
        .center{
            margin-top: calc(140px * var(--current-zoom)) !important;
            img{
                max-height: calc(600px * var(--current-zoom));
                border-radius: calc(30px * var(--current-zoom));
                border: 1px solid #000000;
                box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
            }
        }
     }

     .features {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
        
        .feature{
          margin-left: calc(20px * var(--current-zoom));
          margin-right: calc(20px * var(--current-zoom));
          margin-top: calc(40px * var(--current-zoom));
          margin-bottom: calc(40px * var(--current-zoom));
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .mat-icon{
                position: relative;
                width: calc(50px * var(--current-zoom));
                height: calc(50px * var(--current-zoom));
                margin: auto;
                //top: -15px;
                font-size: calc(50px * var(--current-zoom));
                border-radius: calc(15px * var(--current-zoom));
                margin-right: calc(20px * var(--current-zoom));
            }
            p{
                width: calc(300px * var(--current-zoom)) !important;
                margin: auto;
            }
        }
     }

     .skills {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .skill{
            margin: calc(20px * var(--current-zoom));;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: calc(25px * var(--current-zoom));
            width: fit-content;
            span{
                padding-left: calc(10px * var(--current-zoom));
                position: relative;
                width: calc(50px * var(--current-zoom));
                height: calc(50px * var(--current-zoom));
                margin: auto;
                //top: -15px;
                font-size: calc(50px * var(--current-zoom));
                border-radius: calc(20px * var(--current-zoom));
            }
            p{
                max-width: calc(500px * var(--current-zoom)) !important;
                padding-right: calc(10px * var(--current-zoom));
                margin: calc(20px * var(--current-zoom));;
            }
        }
     }
}


.section-title {
  font-size: calc(4rem * var(--current-zoom));
  font-family: var(--alias-main);
  font-weight: normal;
  background: linear-gradient(to right, white ,#20b1dd,  white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  text-align: center;
}

.end-tips{
    padding: 40px;
    .end-title{
        font-size: calc(4rem * var(--current-zoom));
        font-family: var(--alias-main);
        font-weight: normal;
        max-width: calc(1000px * var(--current-zoom));
        margin: auto;
        text-align: center;
        color:white
    }
    margin-bottom: 40px;
    p{
        text-align: center;
    }
}


.portfolio {
    padding-top: calc(100px * var(--current-zoom));
    padding-bottom: calc(100px * var(--current-zoom));
    color: #fff;
    >div{
        padding-left: calc(100px * var(--current-zoom));
        padding-right: calc(100px * var(--current-zoom));
    }
    font-family: var(--alias-main)
}

.text-gradient-h {
  background: linear-gradient(to right, white, #88c9fa);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.text-gradient {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
  }

.text-gradient-v {
  background: linear-gradient(to bottom, white, #88c9fa);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}



.text-tip {
  font-size: calc(2rem * var(--current-zoom));
  font-family: var(--alias-main);
  font-weight: normal;
}



.portfolio {
  animation: slide-up 1s;
}

.about{
  padding-top: calc(100px * var(--current-zoom));
  min-height: 100vh;
  #description{
    padding-left: calc(100px * var(--current-zoom));
    padding-right: calc(100px * var(--current-zoom));
    margin: auto;
    max-width: calc(1700px * var(--current-zoom));
    p{
      text-align: center;
      color: white;
    }
  }
}

.portfolio, .main-tip, .job-title, .about  {
  animation: slide-up 1s;
}


.before{
  display: none !important;
}



.history{
  display: flex;
  justify-content: center;
  .timeline{
    padding-top: calc(40px * var(--current-zoom));
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    .comp-details{
      text-align: center;
      color: white;
      padding: 0;
      text-align: center;
      .company-name{
        margin:auto;
        padding-top: calc(20px * var(--current-zoom));
        font-size: calc(1.2rem * var(--current-zoom));
        font-family: var(--alias-main);
        font-weight: normal;
      }
      .role-name{
        font-size: calc(1.8rem * var(--current-zoom));
        font-family: var(--alias-main);
        font-weight: normal;
      }
      .dates{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        p{
          font-size: calc(1.2rem * var(--current-zoom));
          font-family: var(--alias-main);
          font-weight: normal;
          margin: 2px;
        }
      }
    }
    .timeline-item{
      max-width: var(--timeline-line-vw);
      width: var(--timeline-line-vw);
      img{
        width: auto;
        height: calc(60px * var(--current-zoom));
        max-height: calc(70px * var(--current-zoom));
        border-radius: calc(10px * var(--current-zoom));
      }
      .segment{
        padding-top: calc(60px * var(--current-zoom));
        display: flex;
        flex-direction: row;
        width: var(--timeline-line-vw);
        .right-gradient-line {
          height: 1px;
          background: linear-gradient(to right, #88c9fa, #88c9fa, #88c9fa);
          margin-top: auto;
          margin-bottom: auto;
          width: calc(var(--timeline-line-vw)/2);
        }
        .left-gradient-line {
          height: 1px;
          background: linear-gradient(to right, #88c9fa, #88c9fa, #88c9fa);
          margin-top: auto;
          margin-bottom: auto;
          width: calc(var(--timeline-line-vw)/2)
        }
        .start-spacing {
          height: 1px;
          background: transparent;
          margin-top: auto;
          margin-bottom: auto;
          width: calc(var(--timeline-line-vw)/2)
        }
        .circle{
          min-width: calc(20px * var(--current-zoom));
          width: calc(20px * var(--current-zoom));
          height: calc(20px * var(--current-zoom));
          border-radius: calc(10px * var(--current-zoom));
          background-color: #88c9fa;
        }
      }    
    }
  }


}


.section-separator{
  height: 15vh;
}





@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

@media (max-width: 2600px) {
  .homepage{
    --current-zoom : 0.8;
  }
}

@media (max-width: 1500px) {
  .homepage{
    --current-zoom : 0.7;
  }
}

@media (max-width: 1500px) {
    .homepage{
      --current-zoom : 0.7;
    }
}
@media (max-width: 1200px) {
  .homepage{
    --current-zoom : 0.5;
 }
}
@media (max-width: 750px) {
   .homepage{
    --current-zoom : 0.4;
  }
}

@media (max-width: 660px) {
  .homepage{
    --current-zoom : 0.4;
    --timeline-line-vw : 70vw;
  }
  .screenshots{
        justify-content: center !important;
        .center{
            margin-left: 30px;
            margin-right: 30px;
        }
        .lateral{
            display: none;
        }
    }

    .before{
      display: flex !important;
    }

    .history{
      display: flex;
      justify-content: center;
      .timeline{
        display: flex;
        flex-direction: column;
        .comp-details{
          min-width: 250px;
          text-align: center;
          color: white;
          padding: 0;
          text-align: center;
          .company-name{
            margin:auto;
            padding-top: calc(20px * var(--current-zoom));
            font-size: calc(2.0rem * var(--current-zoom));
            font-family: var(--alias-main);
            font-weight: normal;
          }
          .role-name{
            font-size: calc(2.8rem * var(--current-zoom));
            font-family: var(--alias-main);
            font-weight: normal;
          }
          .dates{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: auto;
            p{
              font-size: calc(2.0rem * var(--current-zoom));
              font-family: var(--alias-main);
              font-weight: normal;
              margin: 2px;
            }
          }
        }
        .timeline-item{
          height: var(--timeline-line-height-mobile);
          max-width: var(--timeline-line-vw);
          width: var(--timeline-line-vw);
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          img{
            height: auto;
            height: calc(40px);
            max-height: calc(40px);
            border-radius: calc(10px * var(--current-zoom));
          }
          .segment{
            width: 10px;
            align-items: center;
            display: flex;
            flex-direction: column;
            height: var(--timeline-line-height-mobile);
            .right-gradient-line {
              width: 1px;
              background: linear-gradient(to bottom, #88c9fa, #88c9fa, #88c9fa);
              height: calc(var(--timeline-line-height-mobile)/2);
              margin: 0;
            }
            .left-gradient-line {
              width: 1px;
              background: linear-gradient(to bottom, #88c9fa, #88c9fa, #88c9fa);
              height: calc(var(--timeline-line-height-mobile)/2);
              margin: 0;
            }
            .start-spacing {
              width: 1px;
              background: transparent;
              margin-top: auto;
              margin-bottom: auto;
              height: calc(var(--timeline-line-height-mobile)/2)
            }
            .circle{
              width: 1px;
              width: calc(20px * var(--current-zoom));
              height: calc(20px * var(--current-zoom));
              border-radius: calc(10px * var(--current-zoom));
              background-color: #88c9fa;
            }
          }    
        }
      }
    }
    .after{
      display: none !important;
    }
  }
