<body>
    <div class="homepage">
        <section class="header">
            <div class="self-description">
                <img src="../../assets/animoji.jpg" alt="Profile Image">
                <p class="name">Simone Scionti</p>
                <p class="job-title">iOS Software Engineer</p>

                <div class="main-tip">
                    <p class="text-tip text-gradient-h">What inspires me?</p>
                    <p class="text-tip"> Walking around and see people loving the apps I've worked on</p>
                </div>
                <!-- <img class="arrow" src="../../assets/arrow.png"> -->
            </div>

        </section>
        <section class="about">
            <div id="description">
                <p class="section-title">About me</p>
                <p class="text-tip"> Hello! I'm Simone Scionti. I'm a curious and disciplined software engineer with a
                    deep interest in Apple technologies.
                    <br>I'm proficient in iOS native mobile development and have knowledge about cloud serverless
                    architectures on AWS.
                    <br>With a keen eye for design patterns, I adhere to industry best practices maximizing reuse and
                    promoting maintainability.
                    <br>I’m always seeking ways to deliver an extraordinary experience to the end-users, I strive to write
                    well-structured code, work in a team and mentor other people.
                </p>
                <p class="text-tip text-gradient-v">
                    During my career, I had experience in several aspects of software engineering. Over the years I've
                    covered the figures of Front-end developer, Software Engineer and iOS Engineer. Later I decided to
                    follow my passion for mobile development by consolidating my knowledge about the Apple ecosystem and
                    approaching multi-platform mobile technologies such as Flutter.
                    <br>Recently I started my PhD on Artificial Intelligence applied to cultural heritage, a discipline
                    I’m curious about.
                </p>
                <br>
            </div>
            <br>
            <div class="history">
                <div class="timeline">
                    <div class="timeline-item" *ngFor="let experience of experiences;let i = index">
                        <div class="segment before">
                            <ng-container *ngIf="i != 0">
                                <div class="left-gradient-line"></div>
                            </ng-container>
                            <ng-container *ngIf="i == 0">
                                <div class="start-spacing"></div>
                            </ng-container>
                            <ng-container>
                                <div class="circle"></div>
                            </ng-container>

                            <ng-container *ngIf="i < experiences.length-1">
                                <div class="right-gradient-line"></div>
                            </ng-container>
                        </div>
                        <div class="comp-details">
                            <div class="company-logo">
                                <img [src]="experience.logoPath" alt="Logo {{ experience.companyName }}">
                            </div>

                            <p class="company-name">{{ experience.companyName }}</p>
                            <p class="role-name text-gradient-h">{{ experience.role }}</p>
                            <div class="dates text-gradient-h">
                                <p>{{ experience.startDate }}</p>
                                <p class="divider">-</p>
                                <p>{{ experience.endDate }}</p>
                            </div>
                        </div>
                        <div class="segment after">
                            <ng-container *ngIf="i != 0">
                                <div class="left-gradient-line"></div>
                            </ng-container>
                            <ng-container *ngIf="i == 0">
                                <div class="start-spacing"></div>
                            </ng-container>
                            <ng-container>
                                <div class="circle"></div>
                            </ng-container>

                            <ng-container *ngIf="i < experiences.length-1">
                                <div class="right-gradient-line"></div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="portfolio">
            <p class="section-title">Some of my projects</p>
            <div *ngFor="let project of projects" class="project"
                [style.background]="'linear-gradient(#000000,'+project.gradientColor+' , '+project.gradientColor+', #000000)'">
                <div class="trademark">
                    <img [src]="project.icon" class="icon">
                    <p class="app-title">{{project.title}}</p>
                </div>

                <p class="app-subtitle text-gradient"
                    [style.background]="'linear-gradient(to bottom,#FFFFFF , '+project.textGradientColor+')'">
                    {{project.subtitle}}
                </p>

                <div class="links">
                    <div *ngFor="let link of project.links" class="card"
                        [style.background-color]="project.buttonsColor">
                        <a [href]="link.url">{{link.text}}</a>
                    </div>
                </div>
                <div *ngIf="!project.links">
                    <br><br>
                </div>

                <div class="screenshots">
                    <div class="lateral">
                        <img *ngIf="project.leftScreenshot" [src]="project.leftScreenshot">
                    </div>
                    <div *ngFor="let screen of project.centeredScreenshots" class="center">
                        <img [src]="screen">
                    </div>
                    <div *ngIf="project.webScreenshot" class="center web">
                        <img [src]="project.webScreenshot">
                    </div>
                    <div *ngIf="project.webVideo" class="center web">
                        <video #video [src]="project.webVideo" [muted]="true" autoplay playsinline loop></video>
                    </div>
                    <div *ngIf="project.centeredVideo" class="center">
                        <video #video [src]="project.centeredVideo" [muted]="true" autoplay playsinline loop></video>
                    </div>

                    <div class="lateral">
                        <img *ngIf="project.rightScreenshot" [src]="project.rightScreenshot">
                    </div>
                </div>

                <div class="features">
                    <div *ngFor="let feature of project.featureSections" class="feature">
                        <mat-icon>{{feature.icon}}</mat-icon>
                        <p class="text-tip text-gradient"
                            [style.background]="'linear-gradient(to bottom,#FFFFFF , '+project.textGradientColor+')'">
                            {{feature.description}}
                        </p>
                    </div>
                </div>
                <div class="skills">
                    <div *ngFor="let skill of project.skills" class="skill card"
                        [style.background-color]="project.buttonsColor">
                        <span class="material-symbols-outlined">{{skill.icon}}</span>

                        <p class="text-tip text-gradient"
                            [style.background]="'linear-gradient(to right,#FFFFFF , '+project.textGradientColor+')'">
                            {{skill.title}}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="main-tip end-tips">
            <p class="end-title">If you are reading this, Thank you!</p>
            <br>
            <p class="text-tip text-gradient-v">You have glimpsed some of the projects I have pursued out of personal
                interest and as a freelancer. I
                look forward to the opportunity to connect with you again soon!</p>
        </div>
    </div>
</body>